@media (max-width: 560px) {
    header{
        padding: 6px 14px;
    }
    h2{
        font-size: 32px;
    }
    .section2{
        padding-left: 14px;
    }
    .section3{
        padding: 32px 14px;
    }
    .section3_CardSection{
        row-gap: 20px;
    }
    .section3_cards {
        flex: 1 1 100%;
        max-width: 100%;
    }
}